.grid__row {
    margin-top: 5px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12,1fr);
}
.grid__header {
    grid-column: 5 / -1;
    padding: 10px 15px;
}
.grid__data {
    grid-column: 5 / -1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    min-height: 30px;
    align-content: center;
    background-color: rgba($primary-color, 0.3);
    border-radius: 5px;
}
.grid__data-numbers {
    @extend .grid__data;
    @include corner(5px);
    line-height: 1;
    background-color: $primary-color;
    color: $lighter-color;
}
.grid__label {
    grid-column: 1 / 5;
    padding: 10px;
    border-radius: 5px;
    line-height: 1;
}
%grid__data_column {
    content: "";
    height: 30px;
    border-radius: 5px;
}
@for $counter from 1 to 8 {
    .grid__data_column-#{$counter}::after{
        @extend %grid__data_column;
        grid-column-start: $counter;
        grid-column-end: $counter + 1;
    } 
}
@each $colorClass, $value in $colorClass-palette {
	.grid__data_column-#{$colorClass}:after {
		background-color: $value;
	}
}