table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th {
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px;
    word-break: normal;
}
td {
    border-color: transparent;
    border-width: 1px;
    text-align: left;
    vertical-align: top;
    padding: 10px;

}

.table_highlight-even {
    tr:nth-child(even) {
        background-color: rgba($color: $secondary-color, $alpha: 0.15);
    }
}
.table_container {
    overflow: auto;
}